#section-whatwedo {
    height: 100vh;
    background-color: var(--neutral-color);
}

.div-whatwedo-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-whatwedo-text {
    width: 70%;
    margin: 2rem 0;
}

.h2-whatwedo {
    font-family: 'Mulish-ExtraBold', sans-serif;
    font-weight: 800;
    font-size: 2rem;
    color: var(--text-dark);
}

.span-whatwedo-tagline {
    color: var(--primary-color);
    font-style: italic;
    /* font-family: 'Shrikhand'; */
}

.p-whatwedo-subtitle {
    font-family: 'Mulish', sans-serif;
    margin: 1rem 0;
}

.ul-whatwedo {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.icon-whatwedo {
    width: 6rem;
    height: 6rem;
}

.li-whatwedo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    text-align: center;
}

.li-whatwedo h3 {
    font-family: 'Mulish-ExtraBold', sans-serif;
    font-size: 1.2rem;
    margin: 1rem 0;
    color: var(--text-dark);
}

.li-whatwedo p {
    font-family: 'Mulish', sans-serif;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
    #section-whatwedo {
        height: fit-content;
        text-align: center;
        padding: 2rem 0;
    }

    .h2-whatwedo {
        font-size: 1.7rem;
    }

    .ul-whatwedo {
        flex-direction: column;
    }

    .li-whatwedo {
        width: 100%;
        margin: 1rem 0;
    }
}
